# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.github/
.DS_Store

.env
# Models (Note: It is recommended to place these in backend/.gitignore or root .gitignore)
backend/model/*.gguf
backend/model/Gemma-4-E4B-it-PARL-Q4_K_M.gguf
backend/model/Gemma-4-E4B-it-PARL-mmproj.gguf
