@font-face {
  font-family: "TH Sarabun New";
  src: url("/fonts/THSarabunNew.ttf") format("truetype");
  font-weight: 400; /* ตัวปกติ */
  font-style: normal;

  size-adjust: 140%;
}

@font-face {
  font-family: "TH Sarabun New";
  src: url("/fonts/THSarabunNew-Bold.ttf") format("truetype");
  font-weight: 700; /* ตัวหนา */
  font-style: normal;

  size-adjust: 140%;
}

@import "tailwindcss";

/* ถ้าต้องการตั้งค่าฟอนต์หรือสีเพิ่มเติม (เหมือนที่เคยทำใน tailwind.config.ts) 
   ใน v4 เราจะมาเขียนในนี้ด้วย @theme แทนครับ เช่น: */

@theme {
  --font-sans: "Kanit", "Inter", "TH Sarabun New", sans-serif;
  --font-heading: "Kanit", "Inter", "TH Sarabun New", sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}